body {
    padding-bottom: 500px;
}

/* Aula 1 - Flex */
.flex {
    display: flex;
    background-color: #DDD;
    margin-bottom: 20px;
}

/* Aula 2 - Column */
.flex-column {
    display: flex;
    flex-direction: column;
    background-color: #CCC;
    margin-bottom: 20px;
}

/* Aula 3 - Wrap */
.wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.box {
    height: 40px;
    width: 33%;
    border: 1px solid red;
}

/* Aula 4: Justify Content */
.center,
.space-around,
.space-between,
.end {
    display: flex;
    margin-bottom: 20px;
}

.center .box,
.space-around .box,
.space-between .box,
.end .box {
    width: 50px;
}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}